<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/estatico/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/estatico/css/bootstrap.min.css">
        <title>Projeto Totaliza</title>
    </head>
    <body>
        <header>
            cabeçalho
        </header>
        <h1>Bem-vindo ao projeto totaliza.</h1>



        <footer>
            rodapé
        </footer>
        <script src="/estatico/js/jquery-3.2.1.slim.min.js"></script>
        <script src="/estatico/js/popper.min.js"></script>
        <script src="/estatico/js/bootstrap.min.js"></script>
    </body>
</html>