<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">   
      <title>Projeto Totaliza</title>

      <link rel="stylesheet" type="text/css" href="/estatico/css/bootstrap.min.css">     
      <link rel="stylesheet" type="text/css" href="/estatico/css/estilo.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Projeto Totaliza</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eleicoes">Eleições</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Em breve</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Em breve</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="">Em breve</a>
                        <a class="dropdown-item" href="">Em breve</a>
                        <a class="dropdown-item" href="">Em breve</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Em breve..." aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="starter-template">
                <div id="sanfona1">
                    <div class="card">
                        <div class="card-header" id="cabecalho-sanfona1">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#corpo-sanfona1" aria-expanded="false" aria-controls="corpo-sanfona1">
                                <h4>Eleição</h4>
                            </button>
                        </h5>
                        </div>

                        <div id="corpo-sanfona1" class="collapse" aria-labelledby="cabecalho-sanfona1" data-parent="#sanfona1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8"><strong>Eleição: </strong><span class="text-capitalize">${data.eleicao.nome}</span> - <span class="text-capitalize">${data.eleicao.uf}</span></div>
                                    <div class="col-4"><strong>Cargo: </strong><span class="text-capitalize">${data.eleicao.cargo_nome}</span></div>
                                </div>
                                <div class="row">    
                                    <div class="col-4"><strong>Data: </strong><span class="text-capitalize">${data.eleicao.data}</span></div>
                                    <div class="col-4"><strong>Vagas: </strong> ${data.eleicao.quantidade_vagas} <i class="material-icons align-middle">edit</i></div>
                                    <div class="col-4"><strong>Tipo: </strong><span class="text-capitalize">${data.eleicao.tipo}</span></div>
                                </div>                                                  
                                <div class="row">
                                    <div class="col-4"><strong>Votos nulos: </strong> ${data.eleicao.votos_nulos} <i class="material-icons align-middle">edit</i></div>
                                    <div class="col-4"><strong>Votos brancos: </strong> ${data.eleicao.votos_brancos} <i class="material-icons align-middle">edit</i></div>
                                    <div class="col-4"><strong>Status:</strong> ${data.eleicao.status}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div id="sanfona2">
                    <div class="card">
                        <div class="card-header" id="cabecalho-sanfona2">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#corpo-sanfona2" aria-expanded="false" aria-controls="corpo-sanfona2">
                                <h4>Partidos & coligações</h4>
                            </button>
                        </h5>
                        </div>

                        <div id="corpo-sanfona2" class="collapse" aria-labelledby="cabecalho-sanfona2" data-parent="#sanfona2">
                            <div class="card-body">
                                <if(data.partidos && data.partidos.length > 0)>
                                    <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="text-center">n°</th>
                                                    <th scope="col" class="text-center">sigla</th>
                                                    <th scope="col">nome</th>
                                                    <th scope="col">coligação</th>
                                                    <th scope="col" class="text-center">votos (legenda)</th>
                                                    <th scope="col" class="text-center">ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <for|partido| of=data.partidos>                     
                                                    <tr>
                                                        <td class="text-center">${partido.numero}</td>
                                                        <td class="text-center">${partido.sigla}</td>
                                                        <td>${partido.nome}</td>
                                                        <td>${partido.nome_coligacao ? partido.nome_coligacao : "-"}</td>
                                                        <td class="text-center">${partido.quantidade_votos}</td>
                                                        <td class="text-center">
                                                            <i class="material-icons">how_to_vote</i>
                                                        </td>
                                                    </tr>
                                                </for>
                                            </tbody>
                                    </table>    
                                </if>
                                <else>
                                    <h4><span class="badge badge-danger">Em breve</span></h4>
                                </else>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div id="sanfona3">
                    <div class="card">
                        <div class="card-header" id="cabecalho-sanfona2">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#corpo-sanfona3" aria-expanded="false" aria-controls="corpo-sanfona3">
                                <h4>Candidatos</h4>
                            </button>
                        </h5>
                        </div>

                        <div id="corpo-sanfona3" class="collapse false" aria-labelledby="cabecalho-sanfona3" data-parent="#sanfona3">
                            <div class="card-body">
                                <if(data.candidatos && data.candidatos.length > 0)>
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" class="text-center">n°</th>
                                                <th scope="col" class="text-center">sigla</th>
                                                <th scope="col">nome de urna</th>
                                                <th scope="col" class="text-center">data de nascimento</th>
                                                <th scope="col" class="text-center">votos</th>
                                                <th scope="col" class="text-center">ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <for|candidato| of=data.candidatos>                     
                                                <tr>
                                                    <td class="text-center">${candidato.numero}</td>
                                                    <td class="text-center">${candidato.sigla}</td>
                                                    <td title=`${candidato.nome}`>${candidato.nome_urna}</td>
                                                    <td class="text-center">${candidato.data_nascimento}</td>
                                                    <td class="text-center">${candidato.quantidade_votos}</td>
                                                    <td class="text-center">
                                                        <i class="material-icons">how_to_vote</i>
                                                        <i class="material-icons">delete</i>
                                                    </td>
                                                </tr>
                                            </for>
                                        </tbody>
                                    </table>
                                </if>
                                <else>
                                    <h4><span class="badge badge-danger">Em breve</span></h4>
                                </else>    
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <form action=`/eleicoes/${data.eleicao.id}/resultado` method="post">
                    <div class="text-right">
                        <button type="submit" class="btn btn-danger btn-lg">Totalizar</button>
                    </div>
                </form>
            </div>
        </main>
        <script src="/estatico/js/jquery-3.4.1.min.js"></script>
        <script src="/estatico/js/popper.min.js"></script>
        <script src="/estatico/js/bootstrap.min.js"></script>
    </body>
</html>